name: Scheduled Sync

on:
  schedule:
    - cron: '0 0 * * *' # 每天北京时间上午 8 点执行 (UTC 0:00)
  workflow_dispatch:      # 允许手动触发

jobs:
  sync_latest_from_upstream:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Sync upstream changes
        id: sync
        uses: aormsby/Fork-Sync-With-Upstream-action@v3.4.1
        with:
          target_sync_branch: main
          target_repo_token: ${{ secrets.GITHUB_TOKEN }}
          upstream_sync_branch: main
          upstream_sync_repo: 7Sageer/sublink-worker

      - name: Check for errors
        if: failure()
        run: |
          echo "同步失败，可能是因为存在代码冲突。"
          exit 1
